# ==========================
# OS
# ==========================
.DS_Store
Thumbs.db

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# DBeaver
# ==========================
.metadata/
*.dbeaver-data-sources.xml
*.dbeaver-project

# ==========================
# Environment
# ==========================
.env
.env.*

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Python (future-proof)
# ==========================
__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/

# ==========================
# Docker
# ==========================
postgres_data/